/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
body{
	width: 800px;
	margin: 10px 10px 200px 200px;
}
.jumbotron{
	text-align: center;
}

.btn{
	margin: 30px;
}
.border-form-div {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}
.border-form-div .form-signin-heading,
.border-form-div .checkbox {
  margin-bottom: 10px;
}
.border-form-div input[type="text"],
.border-form-div input[type="email"],
.border-form-div input[type="password"] {
  width: 250px;
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}
.tweet{
	text-align: left;
	border: 1px solid #e5e5e5;
}

table{
	margin-left: auto;
	margin-right: auto;
}

#posts table{
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #CFCFCF;
}

.tweet table tr td{
	padding: 5px;
}

.profile table tr td{
	padding: 20px 0px;
}

.text{
	color: red;
}

.follow h3{
	color: blue;
}
.image{
	float: left;
	padding-right: 5px;
}

.image1{
	border: 1px solid #E5E5E5;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	margin-top: 20px;
}

.image2{
	border: 1px solid #E5E5E5;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

.tfield{
	margin-top: 20px;
	margin-bottom: 20px;
  	background-color: #fff;
  	border: 1px solid #fff;
}

.tfield textarea{
	width: 500px;
	height: 50px;
	border: 1px solid #CFCFCF;
	resize: none;
}

.block{
	border: 1px solid #fff;
}

.block table tr td{
	padding-top: 10px;
}

.block h4{
	text-align: center;
}
.image3{
	border: 1px solid #E5E5E5;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}
.btn1{
	margin: 0px;
}

.reply{
	border-top: 1px solid #E5E5E5;
}

.alert{
	padding: 0px;
}

.close{
	padding-right: 10px;
}

.picture{
	margin-top: 10px;
	max-width: 410px;
	max-height: 250px;
}

.freply{
	margin-top: 20px;
	margin-left: 70px;
}

.lreply{
	margin-left: 70px;
	font-size: 13px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

